.interests_description_stuff{
	padding-left: 40px; 
	height: 200px;
	width: 200px;
}
.aboutme_description{
	font-size: 150%;
	font-family: Habibi;
	color: white;
	padding:16px 100px 16px 100px ;
}
#aboutme_section{
	height: 1080px;
	background-image: url("images/aboutme_background.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
}
