:root {
    font-size: 17px;
}
body{
    font-style:sans-serif;
    margin: 0px;
}
#main{
	background-height:800vh;
	background-image: url("images/intro-background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
}

#header_section{
	margin-top: 0vh;
	height: 10vh;
}

.logo{
	padding-top: 4vh;
	padding-left: 2vw;
	float: left;
}

.navbar{
	padding-top: 4vh;
	padding-right: 4vw;
	float: right;
}

.navbar_item{
	color:#fff;
	margin-left: 2vh;
	font-size: 1.5rem;
	text-decoration: none;
}
.navbar_item:visited{
	color:##E14141;
}

.navbar_item:hover{
	text-decoration: underline;
	text-shadow: 2px 2px 5px black;
}

h1{
	font-size: 8rem;
	font-style:sans-serif;
	margin-top: 50vh;
	margin-bottom: 4vh;
	text-align:center;
	border: none;
	color: #fff;
	clear: both;	
}
h2{
	font-size:2.5rem;
	font-style:sans-serif;
	text-align:center;
	color: #fff;
	margin: 0vh;
	clear: both;
}

h3{
	font-size: 1.5rem;
	font-style:sans-serif;
	text-align:center;
	color: #fff;
	margin-top: 2vh;
    margin-bottom: 8vh;
    clear: both;
}

#aboutme_section{
	height: 100vh;
	background-image: url("images/aboutme_background.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;

	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;

}

.my_image{
	height: 200px;
	width: 200px;
	padding-top: 64px;
	padding-left: 600px;
	padding-right: 600px;
	background-attachment: fixed;
	background-size:cover;

}
.spl_text{
	font-style:italic;
}

.aboutme_description{
	font-size: 1.6rem;
	font-family: Habibi;
	color: white;
	padding:4vh 10vw 8vh 10vw ;
}

.description_heading{
	font-size: 4rem;
	 margin-top: 5vh;
	 color: #fff;
}

#interests_section{
	background-image: url("images/interests_background.jpg");
	background-size:cover;
	height: 100%;
	justify-content: center;
	margin-top: 25vh;
}

.interests_description{
	padding-left: 50px; 
	padding-bottom: 50px;
	height: 300px;
	width: 300px; 	
}

#experience_section{
	background-image: url("images/experience_background.jpg");
  	background-size:cover;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
	margin-top: 25vh;

}
.experience_description {
	font-size:1.6rem;
	padding:2vh 8vw 2vh 8vw;
	font-family: Habibi;
	color: white;
}

#projects_section{
	background-image: url("images/portfolio_background.jpg");
	background-size:cover;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
	margin-top: 25vh;

}

.projects_description{
	font-size:1.6rem;
	padding:16px 100px 16px 100px;
	font-family: Habibi;
	color: white;
}

#contact_section{
	background-image: url("images/contact_background.jpg");
	background-size:cover;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 25vh;
}


.contact_description{
	font-size:1.2rem;
	font-family: Habibi;
	padding-top: 8vh;
	padding-left: 30vw;
	padding-right: 30vw;
	color: #979797;
}

.email_details{
	font-size:1.5rem;
	font-family: Habibi;
	padding-top: 4vh;
	padding-left: 38vw;
	padding-right: 38vw;
	color: #606060;
}
 
 .more_details{
	font-size:1.1rem;
	font-family: Habibi;
	padding: 14vh 41vw 2vh 43vw;
	color: #606060;
}

 .icon-group{
	display: flex;
	flex-wrap: wrap;
	padding-left: 44vw;
	/*justify-content: center;*/
}
 .icon{
	width: 42px;
	padding-left:3px;
	padding-bottom:5vh;
}

/*Media Queries*/

@media only screen and (max-width: 480px){
	root {
    font-size: 14px;
}
}