:root {
    font: 17px Habibi;
    color: #fff;
}

body{
    margin: 0px;
}

#main{
	background: url("images/intro-background.jpg") no-repeat fixed center;
    background-size: cover;
}

#header_section{
	margin-top: 0vh;
	height: 10vh;
}

.logo{
	padding: 3vh 0vw 0vh 4vw;
}

.navbar{
	padding: 4vh 4vw 0vh 0vw;
	float: right;
}

.navbar_item{
	color: #fff;
	font-size: 1.5rem;
	margin-left: 2vh;
	text-decoration: none;
}
.navbar_item:visited{
	color: ##E14141;
}

.navbar_item:hover{
	text-decoration: underline;
	text-shadow: 2px 2px 5px black;
}

 h1{
	font-size: 7rem;
	margin: 50vh 0vw 4vh;
	text-align:center;

}
 h2{
	font-size: 2.5rem;
	margin: 2vh 0vw 2vh;
	text-align: center;
}

 h3{
	font-size: 1.5rem;
	margin: 3vh;
    text-align: center;
}

.description_heading{
	font-size: 4rem;
	margin: 3vh 2vw;
}

.background_properties{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cfts{
	color:#fff;
	text-decoration: none;
}

#aboutme_section{
	background: url("images/aboutme_background.png") no-repeat fixed center;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.my_image{
	height: 250px;
	width: 250px;
	padding-top: 3vh;
}

.spl_text{
	font-style: italic;
}

.aboutme_description{
	font-size: 1.6rem;
	padding: 2vh 8vw;
}

#interests_section{
    margin-top: 5vh;
}

.interests_description{
    padding: 2vh 8vw 4vh;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.interests_description_item{
	padding: 2vh 2vw;
	height: 250px;
	width: 250px;
}

#experience_section{
	background: url("images/experience_background.jpg") no-repeat fixed center;
	background-size: cover;
	margin-top: 5vh;
}
.experience_description{
	font-size: 1.6rem;
	padding: 2vh 8vw;
}

#projects_section{
	background: url("images/portfolio_background.jpg") no-repeat fixed center;
    background-size: cover;
    margin-top: 20vh;
}

.projects_description{
	font-size: 1.6rem;
	padding: 2vh 8vw;
}

#contact_section{
	background: url("images/contact_background.jpg") no-repeat fixed center;
    background-size: cover;
	margin-top: 20vh;
}

.contact_details_container{
	padding: 0vh 2vw;
}
.contact_details_container .contact_description{
	font-size: 1.2rem;
	padding: 8vh 29vw 0vh;
	color: #979797;
}

.contact_details_container .email_details{
	font-size: 1.5rem;
	padding-top: 4vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #606060;
}
 
 .contact_details_container .more_details{
	font-size: 1.1rem;
	padding: 14vh 0vw 2vh;
	color: #606060;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
 
.contact_details_container .icon-group{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 2vh;
}

 .contact_details_container .icon-group .icon{
	height: 40px;
	width: 42px;
	padding: 0vh 1px;
}

/*Media Queries*/

@media only screen and (min-width: 480px) and (max-width: 768px){
	:root {
    font-size: 14px;
}
    .my_image{
	height: 200px;
	width: 200px;
}
   .interests_description_item{
	padding: 1.5vh 1.5vw;
	height: 200px;
	width: 200px;
}
   .contact_details_container .contact_description{
	padding: 8vh 20vw 0vh;
}
     .contact_details_container .icon-group .icon{
	width: 35px;
	padding-left: 2px;
	padding-bottom: 3vh;
}
 .contact_details_container .more_details{
	padding-top: 10vh;
	}
}


@media only screen and (max-width: 517px){
	:root {
    font-size: 11px;
}
    .navbar{
	padding: 4vh 2vw 0vh 0vw;
}

    .my_image{
	height: 150px;
	width: 150px;
}
    .interests_description_item{
	padding: 1vh 1vw;
	height: 150px;
	width: 150px;
}
    .contact_details_container .contact_description{
	padding: 8vh 20vw 0vh;
}
    .contact_details_container .icon-group .icon{
	width: 30px;
	padding-left:2px;
	padding-bottom:1.5vh;
}
.contact_details_container .more_details{
	padding-top: 7vh;
}
    
}

@media only screen and (max-width: 370px){
	.navbar_item{
	padding: 2vh 1vw 0vh 0vw;
}
}